# Copy this file to toolchain.config
# and set ARM_GCC_ROOT to the ROOT of your Arm GNU Toolchain.
# This directory must contain bin/aarch64-none-linux-gnu-g++.

ARM_GCC_ROOT="full/path/to/arm-gnu-toolchain-15.3.rel1"
